@font-face {
    font-family: nick;
    src: url("/font/Galano Grotesque Black.otf");
}

@font-face {
	font-family: cn;
	src: url("/font/CN Bold.ttf");
}

@font-face {
	font-family: mundonick;
	src: url("/font/MUNDONICK.ttf");
}