/* SHOW INFO */
#show-info {
	background: url("/images/bg2.png");
	color: purple;
    h5 {
        font-family: cn;
    }
}


#show-description {
    font-size: 0.7rem;
}

#characters {
    font-size: 0.7rem;
    li {
        margin-right: 0px;
    }
}
 /* END SHOW INFO */