@font-face {
  font-family: nick;
  src: url("/font/Galano Grotesque Black.otf");
}
@font-face {
  font-family: cn;
  src: url("/font/CN Bold.ttf");
}
@font-face {
  font-family: mundonick;
  src: url("/font/MUNDONICK.ttf");
}
@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}
body, html {
  height: 100%;
  font-family: nick;
  color: white;
}

.bg-orange {
  background-color: #f46d25 !important;
}
.bg-orange:hover {
  background-color: #ff5800 !important;
}

.site-bg {
  background-image: url("/images/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/* NAV BAR */
.brand {
  font-family: mundonick;
  font-size: 48px;
  color: white;
  margin-right: 10px;
}
.brand:hover {
  text-decoration: inherit;
  color: white;
}

.navbar {
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.nav-link {
  font-size: 24px;
  color: white;
}

.bg-nav {
  background-color: #f46d25 !important;
}

/* END NAV BAR */
/*  INDEX.PHP START */
.index-header {
  text-align: center;
}

.index-card {
  width: 350px;
}

/* INDEX.PHP END */
/* SHOW INFO */
#show-info {
  background: url("/images/bg2.png");
  color: purple;
}
#show-info h5 {
  font-family: cn;
}

#show-description {
  font-size: 0.7rem;
}

#characters {
  font-size: 0.7rem;
}
#characters li {
  margin-right: 0px;
}

/* END SHOW INFO */
/* SHOW SELECTOR */
#show-selector {
  margin-bottom: 50px;
}

.selected-show, .selected-show:hover {
  background-color: transparent !important;
  background: url("/images/show_icons/splat.png") 0px 10px/80px no-repeat;
}

/* END SHOW SELECTOR */
/* EPISODE CARDS */
.episode-card {
  background-color: #f46d25;
  padding: 1em;
  margin: 1em;
  transition: transform 0.5s ease;
}
.episode-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.episode-card:hover .episode-card-title {
  opacity: 1;
}

.episode-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* SHOW LIST */
.showlist {
  margin-top: 50px;
}

.showlist-item {
  margin-top: 30px;
}
.showlist-item a {
  text-decoration: none;
}
.showlist-item:hover {
  transform: scale(1.05);
  transition: transform 500ms ease;
}

.showlist-item-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* END SHOW LIST */
/*GAMES FORM CN*/
/*iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-box-outer-iframe-wrapper {
    background-color: #fff;
    border-radius: 12px;
    width: 93.95161%;
    padding-bottom: 60.8871%;
    position: absolute;
    top: 9.8338%;
    left: 3.02419%;
    overflow: hidden;
}

.game-box-inner-iframe-container {
    position: absolute;
    width: 95.27897%;
    padding-bottom: 60.30043%;
}

.game-box-inner-iframe, .game-box-inner-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-vertical-translate {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.box-content-container {
    padding-bottom: 722px;
    padding-top: 0;
    margin-bottom: 10px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.box-container {
    border-radius: 15px;
    padding: 5px 0;
}

.c-blue.box-container {
    background-color: #0098d8;
}

.grid {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}*/

/*# sourceMappingURL=style.css.map */
