{% extends 'base.twig' %}

{% block body %}

<div class="grid box-container box-content-container">
	<div class="game-box-outer-iframe-wrapper">
		<div class="game-box-inner-iframe-container center-vertical-translate">
			<div class="game-box-inner-iframe game-box-inner-iframe-flash">
				<div style="width: 100%; height: 100%;">
					{# <iframe src="http://gumball.cartoonnetwork.co.uk/game/proxy/remote-fu" id="game-iframe" scrolling="no" border="0" frameborder="0"></iframe> #}
					<iframe src="https://gumball.cartoonnetwork.de/game/proxy/6"  id="game-iframe" scrolling="no" border="0" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}