{% extends 'base.twig' %}

{% block body %}
  <h1 id="indexHeader">WELCOME TO THE BUBUSQUID NETWORK WEBSITE</h1>

  <div class="container">
  <div class="row">
    <div class="col">
      <a href="#"><img class="img-fluid rounded index-card" src="/images/index_cards/favgames.png"></a>
    </div>
    <div class="col">
      <a href="#"><img class="img-fluid rounded index-card" src="/images/index_cards/favepisodes.png"></a>
    </div>
    <div class="col">
      <a href="#"><img class="img-fluid rounded index-card" src="/images/index_cards/favshorts.png"></a>
    </div>
  </div>
  </div>

{% endblock %}