{% extends 'base_showselector.twig' %}

{% block body %}
  <div class="container">
  <h1 class="index-header">WELCOME TO THE BUBUSQUID NETWORK WEBSITE</h1>

  <div class="row">
    <div class="col">
      <a href="#"><img class="img-fluid rounded" src="/images/index_cards/favgames.png"></a>
    </div>
    <div class="col">
      <a href="/episodes"><img class="img-fluid rounded" src="/images/index_cards/favepisodes.png"></a>
    </div>
    <div class="col">
      <a href="#"><img class="img-fluid rounded" src="/images/index_cards/favshorts.png"></a>
    </div>
  </div>
  </div>

{% endblock %}