{% extends 'base_showselector.twig' %}

{% block head %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/video-dev/clappr-rtmp-plugin@latest/dist/rtmp.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="text-center">
		<div id="player"></div>
		<script>
			var player = new Clappr.Player({
			    source: "rtmp://localhost:63716/live/test",
			    parentId: "#player",
			    plugins: {'playback': [RTMP]},
			    rtmpConfig: {
			        swfPath: 'dist/assets/RTMP.swf',
			        scaling:'stretch',
			        playbackType: 'live',
			        bufferTime: 1,
			        startLevel: 0,
			        switchRules: {
			            "SufficientBandwidthRule": {
			                "bandwidthSafetyMultiple": 1.15,
			                "minDroppedFps": 2
			            },
			            "InsufficientBufferRule": {
			                "minBufferLength": 2
			            },
			            "DroppedFramesRule": {
			                "downSwitchByOne": 10,
			                "downSwitchByTwo": 20,
			                "downSwitchToZero": 24
			            },
			            "InsufficientBandwidthRule": {
			                "bitrateMultiplier": 1.15
			            }
			        }
			    },
			});
		</script>
	</div>
</div>
{% endblock %}