{% extends 'base_showselector.twig' %}

{% block head %}
	<script type="text/javascript" src="player/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="player/js/majhdwplayer.js?xxx"></script>
	<script type="text/javascript" src="player/js/html5.hdwplayer.js"></script>
	<link rel="stylesheet" href="player/css/html5.hdwstyles.css" type="text/css" media="all">
	<style>
	@media only screen  and (min-width: 100px) and (max-width: 680px){
		#player{
			width: 100% !important;
			height: 230px !important;
		}
	}

	@media only screen  and (min-width: 768px) and (max-width: 979px){
		#player{
			width: 100% !important;
			height: 320px !important;
		}
	}

	</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
		<div id="player" {# class="hdwhtml5player" style="height:360px; width:640px;" #}></div>
		<script>
		$j(document).ready(function(){	
			hdwplayer({ 
				id       : 'player',
				swf      : 'player/player.swf?api=true',
				width    : '705',
				height   : '400',
				type	 : 'rtmp',
				streamer: "rtmp://mensa.uberspace.de:63716/live",
				video: "test",
				// license  : 'O1DML-1487-N2MMA-01982-MLONW-8551-OO23G', //license key for localhost
				// logo     : 'http://localhost/images/logo.png',
				autoStart: 'true',
				// skinMode: 'static',
			});
			
		});
		</script>
		</div>
		<div class="col-sm"></div>
	</div>
</div>
{% endblock %}