{% extends 'base.twig' %}

{% block body %}

<div class="container">

<div class="row showlist">
	{% for show in shows %}
		<div class="col-4 showlist-item text-center">
			<a href="/episodes/{{ show.name }}">
				<img class="img-fluid showlist-card rounded" src="/images/show_cards/bg.png">
			</a>
			<div class='showlist-item-title'>{{ show.title }}</div>
		</div>
	{% endfor %}
</div>

</div>
{% endblock body %}